.card{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.582);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.mb-2 input{
    background-color: rgba(0, 0, 0, 0.185);
    color: white;
}

.mb-2 input:focus{
    background-color: black;
    color: white;
}

.mb2::placeholder{
    color: rgb(255, 255, 255);
}